doc/
docs/
data/
logs/
demo_files/*.ppt
demo_files/*.pptx
demo_files/*.pptm
demo_files/*.ppsx
demo_files/*.ppsm
demo_files/LOG/

critical.txt
download_cli.ps1
.env
.env.*
*.key
*.pem

__pycache__/
*.pyc
.vscode/

node_modules/
dist/
.DS_Store

smart-office-ui/
